@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .display-flex{
    display: flex;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .font-primary{
    color: #424242;
  }
  .font-secondary{
    color: #131313;
  }
  .shared_btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border: none;
  }
  .bg-banner{
    background-color: rgba(255, 144, 14, 0.2);
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand_name{
    font-weight: 700;
    font-size: 3rem;
  }
  .navbar, .content_section{
    max-width: 1440px;
    margin: 0 auto;
  }
  .content_section_primary{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
  .content_section_primary_tittle{
    font-weight: 700;
    font-size:4rem;
  }
  .content_section img{
    width: 100%;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    border-radius: 0.5rem;
  }
  main{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
   
  }
  main .showcase_gallery{
    display: flex;
    margin-top: 50px;
  }
  .showcase_gallery_primary{
   
    margin: 0 auto;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .showcase_gallery_secondary{
    max-width: 530px;
    margin-left: 130px;
    margin-top: 130px;
  }
  .showcase_gallery_secondary_tittle #quick{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
  }
  .showcase_gallery_secondary_tittle #our{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
  }
  .showcase_gallery_secondary_tittle #feature{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
  }
  .showcase_gallery_secondary_description{
    font-size: 1rem;
    color: #727272;
  }
  .features_section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
  }
  .features_section_primary{
    position: relative;
    
  }
  .features_section_primary_top{
    border-left: 5px solid #FF900E;
  }
  #feature_headline{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    padding-left: 21px;
    
  }
  #feature_another_headline{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    padding-left: 21px;
  }
  .features_section_primary_top_headline{
    font-size: 1rem;
    color: #727272;
  }
  .card_section{
    width: 570px;
    height: 170px;
    margin-top: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  }
  .card_section_headline{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    padding-top: 30px;
    padding-left: 30px;
  }
  .card_section_description{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 40px;
    color: #727272;
  }
  .features_section_secondary{
    position: relative;
   
  }
  .features_section_secondary img{
    width: 100%;
    position: relative;
  }
  .features_section_secondary_btn{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    position: relative;
    margin-top: -100px;
    margin-left: -40px;
    border: none;
    outline: none;
  }
  #special_btn{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  #special_btn_another{
    font-size: 1.50rem;
    text-align: center;
  }
  .facts_sections_primary{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    
  }
  .facts_sections_tittle{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
  }
  .facts_sections_description{
    font-size: 1rem;
    color: #727272;
    line-height: 1.3rem;
  }
  .icons_showcase_section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .icons_showcase_section_main{
    width: 241px;
    height: 241px;
    border-radius: 0.5rem;
    border: 1px solid #FF900E;
    margin-left: 80px;
  }
  .icons_showcase_section_main_inner{
    width: 169px;
    height: 169px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .icons_showcase_section_main_inner img{
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-left: 60px;
  }
 
  .icons_showcase_section_main_inner .count{
    font-size: 2.8rem;
    font-weight:600;
    color: #424242;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 25px;
  }
  .icons_showcase_section_main_inner .award{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 10px;
  }
  .sponsors_section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
  }
  .sponsors_section_top_tittle{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sponsors_section_top_description{
    font-size: 1rem;
    color: #727272;
    text-align: center;
  }
  .sponsors_section_bottom{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsors_section_bottom img{
    width: 165px;
    height: 50px;
  }
  footer{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 130px;
    background-color: #FFF4E7;
    margin-bottom: 100px;
  }
  .footer_message{
    font-size: 1.25rem;
    color: #424242;
    text-align: center;
    line-height: 103px;
  }
  @media only screen and (max-width:576px){
    .navbar, .navlink{
      flex-direction: column;
    }
    main .showcase_gallery{
      flex-direction:column-reverse;
    }
    .showcase_gallery_primary{
      margin-top: 20px;
      margin-right: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
    .showcase_gallery_secondary{
      margin-left: 20px;
      margin-top: 40px;
    }
    .features_section{
      flex-direction: column-reverse;
    }
    .icons_showcase_section{
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
    .sponsors_section_bottom{
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    .sponsors_section_bottom img{
      width: 60%;
      margin: 0 auto;
    }
    footer{
      width: 95%;
      height: 200px;
      margin: 0 auto;
    }
    .footer_message{
      text-align: center;
      line-height: 30px;
      padding-top: 30px;
    }
  }